.receiptContainer {
  background-color: var(--receipt-background);
  color: var(--text-white);

  position: relative;
  min-height: 80%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.receiptHeader {
  display: flex;
}

/*
  To create the "zig zag" pattern on the container
  http://jsfiddle.net/justinmc/QqnD3/
*/
/* TOP Zig Zag Boarder */
.receiptContainer::before {
  content: '';
  display: block;

  position: absolute;
  top: -8px;
  left: 0px;

  background: linear-gradient(
      45deg,
      transparent 33.333%,
      var(--receipt-background) 33.333%,
      var(--receipt-background) 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg,
      transparent 33.333%,
      var(--receipt-background) 33.333%,
      var(--receipt-background) 66.667%,
      transparent 66.667%
    );
  background-position: left top;
  background-size: 8px 16px;
  width: 100%;
  height: 8px;
}

/* Bottom Zig Zag boarder */
.receiptContainer::after {
  content: '';
  display: block;

  position: absolute;
  bottom: -8px;
  left: 0px;

  /* background: linear-gradient(-45deg, var(--card-background) 16px, transparent 0),
    linear-gradient(45deg, var(--card-background) 16px, transparent 0); */
  background: linear-gradient(
      45deg,
      transparent 33.333%,
      var(--receipt-background) 33.333%,
      var(--receipt-background) 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg,
      transparent 33.333%,
      var(--receipt-background) 33.333%,
      var(--receipt-background) 66.667%,
      transparent 66.667%
    );
  background-position: left bottom;
  background-size: 8px 16px;
  width: 100%;
  height: 8px;
}

.receiptListContainer {
  text-align: end;
  padding: 0;
}

.receiptListItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.receiptListItemName {
  text-align: start;
}

.receiptListItemPrice {
  text-align: end;
  white-space: nowrap;
}

.receiptListContainer--subtotalWithDiscounts
  > .receiptListItem:first-child
  > .receiptListItemPrice {
  text-decoration: line-through;
}

.receiptListContainer--finalAmount > .receiptListItem {
  font-size: x-large;
}
